name: Build and Test

on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]

jobs:
  e2e:
    name: Build and Test
    runs-on: [self-hosted]
    permissions:
      contents: read
      packages: write

    if: contains(github.event.pull_request.labels.*.name, 'ok-to-test')

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io

      - name: make build
        run: |
          make build

      - name: make test
        run: |
          make test
